// Heading Color
$heading-color: #212121;

// Text Color
$text-color: #838383;

// Default Background
$bg-default: #ffbb38;

// Gray Background
$bg-gray: #f1f7f9;

// Primary Color
$pri-color: #ffbb38;

// Secondary Color
$sec-color: #4e8b16;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #000000;

// Border Color
$border-color: #eaeaea;

// Footer Color
$foo-color: #021c3c;
